body {
    font-family: 'Red Hat Display', sans-serif;
}

input[type="submit"] {
    background-color: #3BC6E7;
    color: #fff;
    width: 100%;
    margin: 2vh auto;
    border: 0;
    font-size: 0.8rem;
}

input[type="submit"]:hover {
    background-color: #00b8eb;
    color: #fff;
  }

.fa-times {
    color: red;
    font-size: 1vmax;
    margin-top: 1.1vh;
    cursor: pointer;
}
